/* You can add global styles to this file, and also import other style files */

router-outlet ~ * {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

body {
    display: block;
    background-color: #1D1D1D;
}
